:root {
    --foreground: #e4e4e4;
    --foreground-hint: #BEBEBE;
    --background: #1d1d1d;

    --foreground-card: #131313;
    --foreground-card-hint: #8d8d8d;
    --background-card: #e7e6e6;
}

html,
body {
    height: 100%;
    font-family: 'Arimo', sans-serif;
    margin: 0;

    color: var(--foreground);
    background: var(--background);
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-flow: nowrap column;
    padding: 0 1rem;
}

.brand__title {
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 4rem;
    width: 380px;
    font-family: 'Cormorant Infant', serif;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-items: center;
}

.top-panel {
    position: sticky;
    top: 0;
    background: var(--background);
}

.scrollable-panel {
    padding-top: 1rem;
}

.blockchain-view {}

.blockchain-container--inner {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
}

p.caption {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin: 1rem 0 0 0;
}

.smallcode {}

.blockchain__block {
    display: flex;
    flex-flow: column nowrap;

    width: 380px;
    border-radius: 12px;
    padding: 1rem;
    background: var(--background-card);
    color: var(--foreground-card);
}

.blockchain__block-top {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
}

.blockchain__block-topleft {
    margin-top: 0.3rem;
}

.blockchain__block-to {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0.5rem;
}

.blockchain__block-from {
    margin: -0.5rem 0 0;
    font-size: 14px;
    color: var(--foreground-card-hint);
}

.blockchain__block-arrow {}

.blockchain__block-from-inner {}

.blockchain__block-topright {}

.blockchain__block-amount {
    font-size: 24px
}

.blockchain__block-currency {
    font-size: 14px
}

.blockchain__block-mid {
    margin: 1rem 0 0.5rem;
    font-size: 14px;
}

.blockchain__block-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.blockchain__block-timestamp {
    color: var(--foreground-card-hint);
    font-size: 12px
}

.blockchain__block-more {
    color: var(--foreground-card-hint);
    font-size: 12px
}

.blockchain__connector {
    width: 4px;
    height: 10px;
    background: rgb(110, 110, 110);
}

.status-bar__container {
    border: 1px solid rgb(97, 97, 97);
    background: #080808;
    border-radius: 24px;
    position: relative;
    padding: 0.2rem;
    margin: 1rem 0;

    overflow: hidden;

}

#status-bar {
    animation: 10s linear infinite marquee;
    white-space: nowrap;
    font-family: 'Inconsolata', monospace;
}

.togglebutton {
    position: absolute;
    top: 0.9rem;
    right: 0.8rem;
    background: none;
    outline: none;
    border: none;
    color: rgb(51, 51, 51);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;

    transition-duration: 200ms;


    transform: rotate(90deg);
}

.closed .togglebutton {
    transform: rotate(0deg);
}

.form-container__container {}

.form-container {
    padding: 1rem 2rem 2rem;
    border-radius: 4px;

    background: #f3f3f3;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;

    position: relative;

    transition-duration: 100ms;
    height: 330px;

    box-shadow: 0px .2rem .4rem .2rem rgba(0, 0, 0, 0.15);
}

.form-container.closed {
    height: 52px;
}

.form-container input {}

#submit-transaction {}

.transaction__text-block {
    margin: 0 0 0.2rem;
    font-size: 12px;
    color: rgb(51, 51, 51);
}

.transaction__title-text {
    margin: 0 0 1rem;
    color: rgb(49, 49, 49);
}

.form--input {
    height: 36px;
    padding: 0.5rem;
    border: none;
    background: rgb(255, 255, 255);

    border-radius: 4px;
    border-bottom: 1px solid rgb(134, 134, 134);
    outline: none;
}

select.form--input {
    width: 150px
}

.input--text {
    width: 100%;
}

.form-field {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#submit-transaction {
    height: 34px;
    width: 100%;
    background: #0479E5;
    border: none;
    border-radius: 24px;
    outline: none;
    color: white;

}

@keyframes marquee {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(-100%)
    }
}